.item_create_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_create_form_fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item_create_form_field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item_create_form_btn {
    align-self: center;
    margin-top: 15px;
}